.container{
    text-align: center;
    margin-left: 500px;

}

body {
  margin: 0;
  background: linear-gradient(to right, #bec3d9, #833ac2);
}


.grid{
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap:10px;
  justify-content: center;
 
}

.card{
  width:80px;
  height: 80px;
  background:#273d54;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s;
}

.card:hover{
  transform: scale(1.1);
}

button{
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.win{
  color: green;
}

.info{
  display: flex;
  justify-content: center;
  gap:20px;
}